workflow/incident-memory-assistant.json
{
  "name": "Incident_Memory_Assistant",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/BAAI/bge-small-en-v1.5",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"inputs\": [$json.body.alert_summary]}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-128, -16],
      "id": "4c4a53b7-d82f-4e2a-8a60-345011152a95",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_HUGGINGFACE_CREDENTIAL_ID",
          "name": "HuggingFace Header Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select \n  id, \n  alert_summary, \n  root_cause, \n  resolution_notes,\n  1 - (embedding <=> '{{ $json.vector_string }}'::vector) as similarity\nfrom incidents\nwhere resolved = true\norder by embedding <=> '{{ $json.vector_string }}'::vector\nlimit 3;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [240, -16],
      "id": "86115e78-847e-4ea8-b718-3ecf6547a44c",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1fcb759e-ad51-4c2c-8522-7491d7ad2265",
              "name": "vector_string",
              "value": "={{ JSON.stringify(Object.values($json)) }}",
              "type": "string"
            },
            {
              "id": "378e29dd-e78d-40fb-91fe-e916b608d4e1",
              "name": "alert_summary",
              "value": "={{ $('Webhook').item.json.body.alert_summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [48, -16],
      "id": "c5a767fd-8369-4034-9a2d-9918619fcb07",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\nJSON.stringify({\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an SRE incident assistant. Given a new alert and the most similar past incident, write a brief, practical briefing: 1) what's likely happening, 2) the most relevant past incident and its root cause, 3) a suggested first action. Be concise and direct, no fluff.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": `New alert: ${$('Webhook').item.json.body.alert_summary}\\n\\nMost similar past incident (similarity: ${$json.similarity}):\\nSummary: ${$json.alert_summary}\\nRoot cause: ${$json.root_cause}\\nResolution: ${$json.resolution_notes}`\n    }\n  ],\n  \"temperature\": 0.3\n})\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [592, -16],
      "id": "69f977f9-fd47-4908-8c5a-c7e259e9799c",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_GROQ_CREDENTIAL_ID",
          "name": "Groq Header Auth"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [416, -16],
      "id": "510a6cc9-c266-4f93-a60c-f47ed4a2409e",
      "name": "Limit"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "incidents-test"
        },
        "text": "={{ \"🔍 *Incident Briefing*\\n\\n*New alert:* \" + $('Webhook').item.json.body.alert_summary + \"\\n\\n\" + $json.choices[0].message.content }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [832, -16],
      "id": "8d1e6ab1-fa7d-408f-b9aa-280db0833837",
      "name": "Send a message",
      "webhookId": "YOUR_SLACK_WEBHOOK_ID",
      "credentials": {
        "slackOAuth2Api": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "YOUR_WEBHOOK_PATH",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-496, 96],
      "id": "01d4c683-687f-4c38-9b97-08c9a728a70f",
      "name": "Webhook",
      "webhookId": "YOUR_WEBHOOK_PATH",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_WEBHOOK_AUTH_CREDENTIAL_ID",
          "name": "Webhook Secret Header Auth"
        }
      }
    },
    {
      "parameters": {
        "content": "Branch 1: New alert -> embed -> search memory -> synthesize briefing -> Slack",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-528, -112],
      "typeVersion": 1,
      "id": "d315cbeb-989c-4b53-a3cd-1528ed334f3d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Branch 2: Resolved incident -> embed -> write to memory -> Slack confirmation",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-432, 464],
      "typeVersion": 1,
      "id": "a3e7b384-7180-4792-9112-ee02eac76b63",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/BAAI/bge-small-en-v1.5",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"inputs\": [$json.body.alert_summary]}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-96, 208],
      "id": "3f1b3964-ea50-4b86-8b52-045a08b6fe9d",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_HUGGINGFACE_CREDENTIAL_ID",
          "name": "HuggingFace Header Auth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1fcb759e-ad51-4c2c-8522-7491d7ad2265",
              "name": "vector_string",
              "value": "={{ JSON.stringify(Object.values($json)) }}",
              "type": "string"
            },
            {
              "id": "378e29dd-e78d-40fb-91fe-e916b608d4e1",
              "name": "alert_summary",
              "value": "={{ $('Webhook').item.json.body.alert_summary }}",
              "type": "string"
            },
            {
              "id": "cf52ddf3-5bee-4721-9a6a-ddd9d70551d6",
              "name": "root_cause",
              "value": "={{ $('Webhook').item.json.body.root_cause }}",
              "type": "string"
            },
            {
              "id": "9347e6c1-1945-448c-bc47-4d2266234f76",
              "name": "resolution_notes",
              "value": "={{ $('Webhook').item.json.body.resolution_notes }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [80, 208],
      "id": "e38ab016-0542-4285-a41f-f06d843b5491",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into incidents (source, alert_summary, embedding, root_cause, resolution_notes, resolved)\nvalues (\n  'manual-resolve',\n  '{{ $json.alert_summary }}',\n  '{{ $json.vector_string }}'::vector,\n  '{{ $json.root_cause }}',\n  '{{ $json.resolution_notes }}',\n  true\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [272, 208],
      "id": "b3bcf63a-c2b3-4448-8f51-45efee11cd78",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "incidents-test"
        },
        "text": "={{ \"✅ Incident logged to memory: \\\"\" + $('Webhook').item.json.body.alert_summary + \"\\\"\\n\\nRoot cause: \" + $('Webhook').item.json.body.root_cause }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [496, 208],
      "id": "e15fcc42-9ec8-4eaa-9200-af3427a1ebfa",
      "name": "Send a message1",
      "webhookId": "YOUR_SLACK_WEBHOOK_ID",
      "credentials": {
        "slackOAuth2Api": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "new_alert",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1361aa07-608b-474d-8dff-60632148f7f0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b05e31d2-f17c-4298-bbb4-e53c537ea761",
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "resolution",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [-288, 96],
      "id": "bd5335e6-5753-4d19-afdf-6a26adc6317d",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    },
    "Edit Fields": {
      "main": [[{ "node": "Execute a SQL query", "type": "main", "index": 0 }]]
    },
    "Execute a SQL query": {
      "main": [[{ "node": "Limit", "type": "main", "index": 0 }]]
    },
    "HTTP Request1": {
      "main": [[{ "node": "Send a message", "type": "main", "index": 0 }]]
    },
    "Limit": {
      "main": [[{ "node": "HTTP Request1", "type": "main", "index": 0 }]]
    },
    "Webhook": {
      "main": [[{ "node": "Switch", "type": "main", "index": 0 }]]
    },
    "HTTP Request2": {
      "main": [[{ "node": "Edit Fields1", "type": "main", "index": 0 }]]
    },
    "Edit Fields1": {
      "main": [[{ "node": "Execute a SQL query1", "type": "main", "index": 0 }]]
    },
    "Execute a SQL query1": {
      "main": [[{ "node": "Send a message1", "type": "main", "index": 0 }]]
    },
    "Switch": {
      "main": [
        [{ "node": "HTTP Request", "type": "main", "index": 0 }],
        [{ "node": "HTTP Request2", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f98f4b60-7804-47d6-8d54-31fc5345b9a3",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "id": "incident-memory-assistant",
  "tags": []
}
